.DS_Store
data/eedi-raw/data.zip
/data/eedi-raw/data/images
data/eedi-raw/data/train_data/train_task_1_2.csv
data/eedi-raw/data/metadata/answer_metadata_task_1_2.csv
data/eedi/train_v2.pkl
data/eedi/train_v1.pkl
data/eedi/train_v3.pkl
data/eedi/processed_eedi.csv
*.log
/__pycache__
main.bash
