.DS_Store
data/eedi-raw/data.zip
/data/eedi-raw/data/images
data/eedi-raw/data/train_data/train_task_1_2.csv
data/eedi-raw/data/metadata/answer_metadata_task_1_2.csv
data/eedi/train_v2.pkl
data/eedi/train_v1.pkl
data/eedi/train_v3.pkl
data/eedi/processed_eedi.csv
*.log
/__pycache__
main.bash
output/eedi/data.pkl
output/eedi-um-50/data.pkl
output/eedi-um-200/data.pkl
output/eedi-um-150/data.pkl
output/eedi-um-150-fs/data.pkl
output/eedi-um-100/data.pkl
output/eedi-pca-300/data.pkl
output/eedi-pca-250/data.pkl
output/eedi-pca-200/data.pkl
output/eedi-pca-200-fs/data.pkl
output/eedi-pca-150/data.pkl
output/eedi-pca-150-fs/data.pkl
output/eedi-pca-100/data.pkl
output/eedi-pca-10/data.pkl
output/eedi-fs/data.pkl
/archive
data/eedi/metadata/answer_metadata.csv
data/eedi/metadata/question_metadata.csv
data/eedi/metadata/student_metadata.csv
data/eedi/metadata/subject_metadata.csv
data/eedi-full/data.pkl
data/eedi-full/processed_eedi.csv
data/eedi/data.pkl
data/eedi-toy/metadata/answer_metadata.csv
data/eedi-toy/metadata/question_metadata.csv
data/eedi-toy/metadata/student_metadata.csv
data/eedi-toy/metadata/subject_metadata.csv
